/********** Fonts ************/

@font-face {
  font-family: 'Co Headline';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('Co Headline Regular'),
    url('/fonts/CoHeadline/Co Headline.woff') format('woff');
}

@font-face {
  font-family: 'Co Headline';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local('Co Headline Light'),
    url('/fonts/CoHeadline/Co Headline Light.woff') format('woff');
}

@font-face {
  font-family: 'Co Headline';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local('Co Headline Bold'),
    url('/fonts/CoHeadline/Co Headline Bold.woff') format('woff');
}

/********** CSS VARIABLES ************/

:root {
  /* Colors */

  /* Neutrals */
  --neutral-100: hsl(40, 100%, 99%);
  --neutral-200: hsl(40, 23%, 97%);
  --neutral-300: hsl(0, 2%, 92%);
  --neutral-400: hsl(30, 3%, 85%);
  --neutral-500: hsl(300, 1%, 62%);
  --neutral-600: hsl(317, 4%, 37%);
  --neutral-700: hsl(338, 8%, 20%);
  --neutral-800: hsl(0, 24%, 8%);

  /* Yellows */
  --yellow-100: hsl(60, 81%, 81%);
  --yellow-200: hsl(51, 97%, 54%);
  --yellow-300: hsl(36, 59%, 43%);

  /* Pinks */
  --pink-100: hsl(308, 76%, 87%);
  --pink-150: hsl(336, 100%, 67%);
  --pink-200: hsl(336, 84%, 61%);
  --pink-300: hsl(330, 69%, 35%);

  /* Blues */
  --blue-100: hsl(184, 73%, 78%);
  --blue-150: hsl(188, 80%, 60%);
  --blue-200: hsl(188, 72%, 49%);
  --blue-300: hsl(209, 43%, 24%);

  /* Gradients */
  --gradient-linear-01: linear-gradient(
    90deg,
    var(--yellow-200) 0%,
    var(--pink-200) 19%,
    var(--blue-200) 40%,
    var(--yellow-200) 59%,
    var(--pink-200) 81%,
    var(--blue-200) 100%
  );

  /* Spacing */
  --space-xxs: 0.4rem; /* 4px */
  --space-xs: 0.8rem; /* 8px */
  --space-sm: 1.2rem; /* 12px */
  --space-md: 1.6rem; /* 16px */
  --space-lg: 2.4rem; /* 24px */
  --space-xl: 3.2rem; /* 32px */
  --space-2xl: 4.8rem; /* 48px */
  --space-3xl: 6.4rem; /* 48px */

  --max-width: 1218px;

  /* Typography */
  --font-header: 'Co Headline', system-ui, sans-serif;
  --font-body: 'Poppins', system-ui, sans-serif;

  --font-body-xs: 1.2rem;
  --font-body-sm: 1.4rem;
  --font-body-md: 1.6rem;
  --font-body-lg: 2rem;
  --font-body-xl: 2.4rem;

  --font-header-sm: 1.8rem;
  --font-header-md: 2.4rem;
  --font-header-lg: 3.6rem;
  --font-header-xl: 6rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 500;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-tight: 1.1;
  --line-height-normal: 1.5;
  --line-height-loose: 1.75;

  /* Rounded Corners */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 50px;

  /* Drop Shadows */
  --shadow-shallow:
    0 1px 2px hsla(0, 24%, 8%, 0.2), 0 1px 3px hsla(0, 24%, 8%, 0.2);
  --shadow-mid:
    0 3px 6px hsla(0, 24%, 8%, 0.2), 0 10px 20px hsla(0, 24%, 8%, 0.2);
  --shadow-deep:
    0 3px 10px hsla(0, 24%, 8%, 0.2), 0 5px 40px hsla(0, 24%, 8%, 0.2);
}

/* ********* CSS RESET *********** */

/* debugger */
/* * {
  outline: 1px solid red;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  display: inline;
  line-height: normal;
}
